<div class="min-h-screen flex flex-col items-center justify-center px-6 py-12 bg-gray-50">
  <div class="mt-10 w-full max-w-md rounded-lg bg-white p-10 ring-1 ring-gray-900/10">

    <h2 class="mb-8 text-center text-2xl font-bold tracking-tight text-gray-900">
      Agile Wheel - Entrar
    </h2>

    <form class="space-y-4 mt-4" [formGroup]="enterForm" (ngSubmit)="enterActivity()">
      <mat-form-field class="w-full">
        <mat-label>ID da Atividade</mat-label>
        <input
          matInput
          formControlName="activityId"
          required />
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Nome</mat-label>
        <input
          matInput
          formControlName="participantName"
          required />
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          formControlName="participantEmail"
          type="email"
          required />
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        class="w-full"
        type="submit"
        [disabled]="enterForm.invalid || isSubmitting">
        {{ isSubmitting ? 'Entrando...' : 'Entrar em atividade' }}
      </button>

    </form>

    <!-- footnote -->
    <p class="mt-10 text-center text-sm text-gray-500">
      Quer criar sua própria atividade?<br/>
      <a [routerLink]="'/create-activity'" class="font-semibold text-indigo-600 hover:text-indigo-500">Clique aqui e comece uma agora</a>.
    </p>
  </div>
</div>