<div class="min-h-screen flex items-center justify-center p-4 bg-gray-50">
  <div class="w-full max-w-5xl rounded-lg bg-white p-6 ring-1 ring-gray-900/10">

    <h2 class="mb-8 text-center text-2xl font-bold tracking-tight text-gray-900">
      Agile Wheel - Distribuir Pontos
    </h2>

    <app-evaluation-wrapper [evaluationGroups]="groups"/>

    <div class="mt-6 flex items-center justify-between">
      <button
        mat-flat-button
        color="primary"
        [disabled]="!canSubmit()"
        (click)="submit()"
        [routerLink]="'/result'"
      >
        Enviar Respostas
      </button>
    </div>
  </div>
</div>

<!--
class="px-6 py-3 rounded-lg text-white font-semibold transition {{ canSubmit() ? 'bg-blue-600 hover:bg-blue-700' : 'bg-gray-300 cursor-not-allowed' }}"

<span class="text-sm">{{ label }}</span>
<input
type="range"
[min]="0"
[max]="totalPoints"
[value]="values[label]"
(input)="onSliderChange(label, $event)"
class="w-2/3"
/> -->
