<div class="min-h-screen flex flex-col items-center justify-center px-6 py-12 bg-gray-50">
  <div class="mt-10 w-full max-w-md rounded-lg bg-white p-10 ring-1 ring-gray-900/10">

    <h2 class="mb-8 text-center text-2xl font-bold tracking-tight text-gray-900">
      Agile Wheel - Criar
    </h2>

    <form class="space-y-4 mt-4" [formGroup]="createForm" (ngSubmit)="createActivity()">
      <mat-form-field class="w-full">
        <mat-label>Nome</mat-label>
        <input
          matInput
          formControlName="name"
          required />
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          formControlName="email"
          type="email"
          required />
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        class="w-full"
        type="submit"
        [disabled]="createForm.invalid || isSubmitting">
        {{ isSubmitting ? 'Criando...' : 'Criar atividade' }}
      </button>

    </form>

    <!-- footnote -->
    <p class="mt-10 text-center text-sm text-gray-500">
      Possui uma atividade em andamento?<br/>
      <a [routerLink]="'/enter-activity'" class="font-semibold text-indigo-600 hover:text-indigo-500">Clique aqui e entre em uma agora</a>.
    </p>
  </div>
</div>